@font-face
{
    font-family: 'Open Sans Extrabold';
    src: url(../fonts/Open\ Sans\ Extrabold.ttf);

}

/* body {
    overflow: hidden;
} */

a{
    text-decoration: none !important;

}

.p-l-0
{
    padding-left: 0;
}